Repository target/goalert, pull requests merged in 2020-10, with the labels that each got.

#931 temporary schedules: rename backend and API values to TemporarySchedule
  engine/cleanupmanager/update.go
  graphql2/generated.go
  graphql2/gqlgen.yml
  graphql2/graphqlapp/mutation.go
  graphql2/graphqlapp/schedule.go
  graphql2/models_gen.go
  graphql2/schema.graphql
  oncall/fixedgroupcalculator.go
  oncall/state.go
  oncall/state_test.go
  oncall/store.go
  oncall/temporaryschedulecalculator.go
  schedule/data.go
  schedule/fixedshiftgroup.go
  schedule/storetemporaryschedules.go
  schedule/temporaryschedule.go
  schedule/temporaryschedule_test.go
  smoketest/fixedshifts_test.go
  web/src/app/schedules/ScheduleCalendarQuery.js
  web/src/app/schedules/fixed-sched/DeleteFixedScheduleConfirmation.tsx
  web/src/app/schedules/fixed-sched/FixedScheduleDialog.tsx
  web/src/schema.d.ts
Labels: needs reviewers, temporary schedules

#933 temporary schedules: rename UI bits to match new naming
  web/src/app/schedules/CalendarEventWrapper.js
  web/src/app/schedules/CalendarToolbar.js
  web/src/app/schedules/ScheduleCalendar.js
  web/src/app/schedules/ScheduleCalendarQuery.js
  web/src/app/schedules/ScheduleDetails.js
  web/src/app/schedules/temp-sched/TempSchedAddShiftForm.tsx
  web/src/app/schedules/temp-sched/TempSchedAddShiftsStep.tsx
  web/src/app/schedules/temp-sched/TempSchedDeleteConfirmation.tsx
  web/src/app/schedules/temp-sched/TempSchedDialog.tsx
  web/src/app/schedules/temp-sched/TempSchedShiftsList.tsx
  web/src/app/schedules/temp-sched/TempSchedTimesStep.tsx
  web/src/app/schedules/temp-sched/sharedUtils.tsx
Labels: needs reviewers, temporary schedules

#942 temp schedules: temp schedules swipe-able form bounds
  web/src/app/schedules/temp-sched/TempSchedDialog.tsx
Labels: temporary schedules

#949 temp-schedules: rephrase step text
  web/src/app/schedules/temp-sched/TempSchedAddShiftsStep.tsx
  web/src/app/schedules/temp-sched/TempSchedTimesStep.tsx
Labels: temporary schedules

#950 temporary schedules: warning when creating or editing an override that overlaps a temp. schedule
  web/src/app/details/Notices.tsx
  web/src/app/dialogs/FormDialog.js
  web/src/app/schedules/ScheduleOverrideCreateDialog.js
  web/src/app/schedules/ScheduleOverrideForm.js
  web/src/app/schedules/useOverrideNotices.ts
  web/src/app/util/shifts.ts
Labels: temporary schedules

#944 temp schedules: timestamp bounds validation
  web/src/app/icons/components/Icons.js
  web/src/app/schedules/temp-sched/TempSchedAddShiftsStep.tsx
  web/src/app/schedules/temp-sched/TempSchedDialog.tsx
  web/src/app/schedules/temp-sched/TempSchedShiftsList.tsx
  web/src/app/schedules/temp-sched/TempSchedTimesStep.tsx
  web/src/app/util/shifts.ts
Labels: temporary schedules

#964 feature/temp schedules: set min start date to now()
  web/src/app/forms/FormField.js
  web/src/app/schedules/temp-sched/TempSchedAddShiftForm.tsx
  web/src/app/schedules/temp-sched/TempSchedTimesStep.tsx
  web/src/app/util/ISOPickers.js
Labels: javascript, temporary schedules

#962 oncall: handle calculations for 0 and 1 participant rotations
  oncall/singlerulecalculator.go
Labels: needs reviewers, temporary schedules

#973 update to Cypress 5.5.0
  devtools/ci/dockerfiles/cypress-env/Dockerfile
  web/src/app/lists/PaginatedList.tsx
  web/src/app/util/AppLink.tsx
  web/src/cypress.json
  web/src/cypress/support/fail-fast.ts
  web/src/cypress/support/index.ts
  web/src/cypress/support/login.ts
  web/src/cypress/support/util.ts
  web/src/package.json
  web/src/yarn.lock
Labels: dependencies, needs reviewers

#983 cypress: use reasonable limits for calendar tests
  web/src/cypress/integration/rotations.ts
  web/src/cypress/integration/scheduleCalendar.ts
  web/src/cypress/support/rotation.ts
  web/src/cypress/types/rotation.d.ts
Labels: temporary schedules
